// COLOR  VARIABLES
$grey0: #111;
$grey1: #333;
$grey2: #444;
$grey3: #bbb;
$grey4: rgb(80, 80, 80);
$white: #fff;
$blue1: #4a90e2;
$up: #39ff7b;
$down: #ff445b;

// SHADOW
$shadow: 0px 0px 2px $grey0;

// FONT-SIZES
$fsize1: 10px;

// BASE APP STYLING
html {
  background-color: $grey1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-background {
  color: $white;
}

// NAVIGATION STYLING
.nav-background {
  background-color: $grey2;
  box-shadow: $shadow;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 10px;
  position: sticky;
  top: 0;
  z-index: 1;

  .nav-left {
    display: flex;
    width: 60%;
    justify-content: flex-start;

    .nav-left-icon {
      margin-right: 15px;
    }

    .nav-page-container {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      align-items: center;
      max-width: 250px;

      .nav-title {
        display: flex;
        flex-direction: column;

        .nav-page-name {
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 3px;
        }

        .nav-page-subtitle {
          font-size: $fsize1;
          font-weight: 100;
          color: $grey3;
          text-transform: uppercase;
        }
      }
    }
  }

  .nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .nav-left-icon {
      margin-left: 15px;
    }
  }
}

// MENU STYLING
.menu-container {
  display: flex;
  flex-direction: column;
  background-color: $grey2;
  height: fit-content;
  width: 250px;
  font-size: 12px;

  .menu-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 15px 15px;
    background-color: $grey1;

    .menu-logo {
      font-size: 25px;

      .logo-up {
        color: $up;
        transform: rotate(0.5turn);
        display: inline-block;
        margin-left: 2px;
      }
      .logo-down {
        color: $down;
      }
    }

    .menu-pin {
      font-size: 20px;
    }
  }
  .menu-account-container {
    background-color: $grey2;
    border-bottom: 1px solid $grey1;
    padding: 15px;
    display: flex;
    justify-content: space-between;

    .menu-add-account {
      outline: 0;
      color: $up;
      background-color: transparent;
      border: none;
      padding: 0;
    }
    .menu-remove-account {
      outline: 0;
      color: $down;
      background-color: transparent;
      border: none;
      padding: 0;
    }
  }
  .menu-submenu-list {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $grey1;

    .menu-submenu-item {
      display: flex;
      flex-direction: column;

      .menu-submenu-top {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        &:hover {
          background-color: $grey4;
        }

        .menu-submenu-title {
          display: flex;
          align-items: center;
          flex-grow: 1;
          text-decoration: none;
          color: $white;

          .menu-submenu-icon {
            margin-right: 10px;
          }
        }
      }

      .menu-submenu-bottom {
        background-color: $grey1;

        .menu-submenu-bottom-item {
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 45px;
          padding-right: 15px;

          &:hover {
            background-color: $grey4;
          }
        }
      }
    }
  }
  .menu-subreddit-container {
    display: flex;
    flex-direction: column;

    .menu-subreddit-search {
      background-color: transparent;
      color: white;
      outline: 0;
      border: none;
      padding: 5px 0;
      margin: 15px;
      border-bottom: 1px solid $grey3;

      &::placeholder {
        color: $grey3;
      }
    }

    .menu-subreddit-list {
      display: flex;
      flex-direction: column;

      .menu-subreddit-link {
        color: white;
        text-decoration: none;

        .menu-subreddit-title {
          padding: 10px 15px;

          &:hover {
            background-color: $grey4;
          }
        }
      }
    }
  }
}

// POSTCARD STYLING
.posts {
  padding: 10px;

  .card-container {
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: $shadow;
    background-color: $grey2;

    .post-container {
      min-height: 62px;
      padding: 8px;
      display: flex;

      .post-link {
        font-size: 0;

        .post-thumbnail {
          height: 62px;
          width: 62px;
          margin-right: 8px;
          object-fit: cover;
        }
      }
      .post-route {
        text-decoration: none;
        width: 100%;
        display: flex;
        align-items: center;

        .post-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-grow: 1;

          .post-title {
            font-size: 12px;
            font-weight: 300;
            color: $white;

            .post-domain {
              color: $grey3;
              font-weight: 200;
              font-size: $fsize1;
            }
          }

          .post-details {
            font-size: $fsize1;
            color: grey;
            padding: 3px 0;

            .post-subreddit {
              color: $blue1;
              white-space: nowrap;
            }

            .post-author {
              white-space: nowrap;
            }
          }
          .post-data {
            font-size: $fsize1;
            color: grey;

            .post-score {
              font-weight: 600;
              color: $grey3;
            }
            .post-age {
              white-space: nowrap;
            }
            .post-comments {
              white-space: nowrap;

              .post-comment-count {
                margin-right: 3px;
              }
            }
          }
        }
      }
      .post-dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .card-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 35px;
      background-color: $grey4;
      border-radius: 0 0 3px 3px;

      .card-left-controls {
        display: flex;
        align-items: center;

        .card-control-icon {
          padding-left: 10px;
          padding-right: 15px;
          font-size: 15px;

          &:first-child {
            padding-right: 10px;
          }
        }
      }
      .card-right-controls {
        display: flex;
        align-items: center;
        height: 100%;

        .card-control-icon {
          padding: 0 8px;
        }
      }
    }
  }
}

// POSTDATA STYLING
.postdata-container {
  background-color: $grey2;
  box-shadow: $shadow;

  .postdata-link {
    text-decoration: none;

    .postdata-image {
      width: 100%;
      max-height: 150px;
      object-fit: cover;
    }

    .postdata-link-info-container {
      color: $white;
      position: relative;
      height: 30px;
      bottom: 54px;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.4);
      margin-bottom: -54px;

      .postdata-link-info {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .postdata-info-container {
    padding: 10px;
    color: grey;

    .postdata-title {
      font-size: 16px;
      font-weight: 300;
      color: $white;
      margin-bottom: 3px;
    }

    .postdata-body {
      color: white;
      padding: 10px 0;
      font-size: 12px;
    }

    .postdata-info {
      font-size: $fsize1;
      padding: 3px 0;

      .postdata-subreddit {
        color: $blue1;
        white-space: nowrap;
      }
    }
    .postdata-data {
      font-size: $fsize1;

      .postdata-score {
        font-weight: 600;
        color: $grey3;
      }
    }
  }
  .postdata-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    border-top: 1px solid $grey1;

    .postdata-left-controls {
      display: flex;
      align-items: center;

      .postdata-control-icon {
        padding-left: 10px;
        padding-right: 15px;
        font-size: 15px;

        &:first-child {
          padding-right: 10px;
        }
      }
    }

    .postdata-right-controls {
      display: flex;
      align-items: center;
      height: 100%;

      .postdata-control-icon {
        padding: 0 8px;
      }
    }
  }
}

// COMMENT STYLING
.comments-wrapper {
  margin-top: 10px;
  box-shadow: $shadow;
}

.comment-wrapper {
  background-color: $grey1;
  .comment-container {
    display: flex;
    padding: 10px;
    background-color: $grey2;
    flex-grow: 1;
    margin-bottom: 1px;

    .comment-collapse {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: 600;
      color: $grey3;
      // margin-right: -3px;
      // margin-left: 5px;
      padding-left: 10px;
      padding-right: 5px;
    }
    .comment-text {
      font-size: 12px;
      font-weight: 300;
      flex-grow: 1;
      .comment-data {
        color: $grey3;
        margin-bottom: 3px;
        .comment-author {
          font-weight: 500;
        }
        .comment-score {
          font-weight: 100;
          // color: grey;
          opacity: 0.5;
        }
      }
      .comment-body {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
      }
    }
  }

  .comment-controls {
    display: flex;
    justify-content: space-between;
    height: 35px;
    background-color: $grey4;
    margin-bottom: 1px;

    .comment-left-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .comment-control-icon {
        padding-left: 10px;
        padding-right: 15px;
        font-size: 15px;

        &:first-child {
          padding-right: 10px;
        }
      }
    }
    .comment-right-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .comment-control-icon {
        padding: 0 8px;
      }
    }
  }
}

// NEW POST BUTTON
.new-post-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  .new-post-icon {
    background-color: $grey4;
    padding-top: 13px;
    padding-bottom: 9px;
    padding-left: 14px;
    padding-right: 12px;
    border-radius: 50%;
    box-shadow: $shadow;
  }
}

.load-more {
  font-size: $fsize1;
  color: $blue1;
  margin-left: 5px;
}

// PULL TO REFRESH
.ptr-element {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  color: $white;
  z-index: -1;
  text-align: center;
  height: 50px;
  // background-color: red;
  padding-top: 5px;
}

.ptr-element .genericon {
  opacity: 0.6;
  font-size: 12px;
  width: auto;
  height: auto;
  transition: all 0.25s ease;
  // -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position: relative;
  top: 5px;

  .loading-icon {
    margin-bottom: -8px;
    transform: rotate(180deg);
    color: white;
  }
  .load-text {
    display: none;
  }
}
.ptr-refresh .ptr-element .genericon {
  // -webkit-transform: rotate(270deg);
  .loading-icon {
    transform: rotate(0deg);
  }
  .preload-text {
    display: none;
  }
  .load-text {
    display: inline;
  }
}
.ptr-loading .ptr-element .genericon,
.ptr-reset .ptr-element .genericon {
  display: none;
}

.loading {
  display: inline-block;
  text-align: center;
  opacity: 0.4;
  margin: 12px 0 0 5px;
  display: none;
}
.ptr-loading .loading {
  display: block;
}

.loading span {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin-right: 3px;
  // -webkit-transform: scale(0.3);
  transform: scale(0.3);
  border-radius: 50%;
  background-color: white;
  // -webkit-animation: ptr-loading 0.4s infinite alternate;
  animation: ptr-loading 0.4s infinite alternate;
}

.loading-ptr-1 {
  // -webkit-animation-delay: 0;
  animation-delay: 0 !important;
}

.loading-ptr-2 {
  // -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s !important;
}

.loading-ptr-3 {
  // -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s !important;
}

@-webkit-keyframes ptr-loading {
  0% {
    // -webkit-transform: translateY(0) scale(0.3);
    transform: translateY(0) scale(0.3);
    opacity: 0;
  }

  100% {
    // -webkit-transform: scale(1);
    transform: scale(1);
    // background-color: #333;
    opacity: 1;
  }
}

@keyframes ptr-loading {
  0% {
    // -webkit-transform: translateY(0) scale(0.3);
    transform: translateY(10px) scale(0.3);
    opacity: 0;
  }

  100% {
    // -webkit-transform: scale(1);
    transform: scale(1);
    // background-color: #333;
    opacity: 1;
  }
}

.ptr-loading .refresh-view,
.ptr-reset .refresh-view,
.ptr-loading .ptr-element,
.ptr-reset .ptr-element {
  transition: all 0.25s ease;
}

.ptr-reset .refresh-view {
  // -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.ptr-loading .refresh-view {
  // -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 40px, 0);
}

/* react-pull-to-refresh CSS */

#container {
  background-color: #fff;
  min-height: 100%;
  z-index: 20;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  padding: 20px 20px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: #555;
  box-sizing: border-box;
}

body:not(.ptr-loading) #container .ptr-element {
  transform: translate3d(0, -50px, 0);
}
