html {
  background-color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.app-background {
  color: #fff; }

.nav-background {
  background-color: #444;
  box-shadow: 0px 0px 2px #111;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  position: sticky;
  top: 0;
  z-index: 1; }
  .nav-background .nav-left {
    display: flex;
    width: 60%;
    justify-content: flex-start; }
    .nav-background .nav-left .nav-left-icon {
      margin-right: 15px;
      cursor: pointer; }
    .nav-background .nav-left .nav-page-container {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      align-items: center;
      max-width: 250px;
      text-decoration: none;
      color: white; }
      .nav-background .nav-left .nav-page-container .nav-title {
        display: flex;
        flex-direction: column; }
        .nav-background .nav-left .nav-page-container .nav-title .nav-page-name {
          font-size: 14px;
          font-weight: 500; }
        .nav-background .nav-left .nav-page-container .nav-title .nav-page-subtitle {
          margin-top: 3px;
          font-size: 10px;
          font-weight: 100;
          color: #bbb;
          text-transform: uppercase;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
  .nav-background .nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .nav-background .nav-right .nav-left-icon {
      margin-left: 15px;
      cursor: pointer; }

.menu-container {
  display: flex;
  flex-direction: column;
  background-color: #444;
  height: fit-content;
  width: 250px;
  font-size: 12px; }
  .menu-container .menu-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 15px 15px;
    background-color: #333; }
    .menu-container .menu-logo-container .menu-logo {
      font-size: 25px; }
      .menu-container .menu-logo-container .menu-logo .logo-up {
        color: #06d6a0;
        transform: rotate(0.5turn);
        display: inline-block;
        margin-left: 2px; }
      .menu-container .menu-logo-container .menu-logo .logo-down {
        color: #ff445b; }
    .menu-container .menu-logo-container .menu-pin {
      font-size: 20px; }
  .menu-container .menu-account-container {
    background-color: #444;
    border-bottom: 1px solid #333;
    padding: 15px;
    display: flex;
    justify-content: space-between; }
    .menu-container .menu-account-container .menu-add-account {
      outline: 0;
      color: #06d6a0;
      background-color: transparent;
      border: none;
      padding: 0; }
    .menu-container .menu-account-container .menu-remove-account {
      outline: 0;
      color: #ff445b;
      background-color: transparent;
      border: none;
      padding: 0; }
  .menu-container .menu-submenu-list {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #333; }
    .menu-container .menu-submenu-list .menu-submenu-item {
      display: flex;
      flex-direction: column; }
      .menu-container .menu-submenu-list .menu-submenu-item .menu-submenu-top {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px; }
        .menu-container .menu-submenu-list .menu-submenu-item .menu-submenu-top:hover {
          background-color: #505050; }
        .menu-container .menu-submenu-list .menu-submenu-item .menu-submenu-top .menu-submenu-title {
          display: flex;
          align-items: center;
          flex-grow: 1;
          text-decoration: none;
          color: #fff; }
          .menu-container .menu-submenu-list .menu-submenu-item .menu-submenu-top .menu-submenu-title .menu-submenu-icon {
            margin-right: 10px; }
      .menu-container .menu-submenu-list .menu-submenu-item .menu-submenu-bottom {
        background-color: #333; }
        .menu-container .menu-submenu-list .menu-submenu-item .menu-submenu-bottom .menu-submenu-bottom-link {
          text-decoration: none;
          color: #fff; }
          .menu-container .menu-submenu-list .menu-submenu-item .menu-submenu-bottom .menu-submenu-bottom-link .menu-submenu-bottom-item {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 45px;
            padding-right: 15px; }
            .menu-container .menu-submenu-list .menu-submenu-item .menu-submenu-bottom .menu-submenu-bottom-link .menu-submenu-bottom-item:hover {
              background-color: #505050; }
  .menu-container .menu-subreddit-container {
    display: flex;
    flex-direction: column; }
    .menu-container .menu-subreddit-container .menu-subreddit-search {
      background-color: transparent;
      color: white;
      outline: 0;
      border: none;
      padding: 5px 0;
      margin: 15px;
      border-bottom: 1px solid #bbb; }
      .menu-container .menu-subreddit-container .menu-subreddit-search::placeholder {
        color: #bbb; }
    .menu-container .menu-subreddit-container .menu-subreddit-list {
      display: flex;
      flex-direction: column; }
      .menu-container .menu-subreddit-container .menu-subreddit-list .menu-subreddit-link {
        color: white;
        text-decoration: none; }
        .menu-container .menu-subreddit-container .menu-subreddit-list .menu-subreddit-link .menu-subreddit-title {
          padding: 10px 15px; }
          .menu-container .menu-subreddit-container .menu-subreddit-list .menu-subreddit-link .menu-subreddit-title:hover {
            background-color: #505050; }

.posts {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto; }
  .posts .card-container {
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 2px #111;
    background-color: #444; }
    .posts .card-container .post-container {
      min-height: 62px;
      padding: 8px;
      display: flex; }
      .posts .card-container .post-container .post-link {
        font-size: 0; }
        .posts .card-container .post-container .post-link .post-thumbnail {
          height: 62px;
          width: 62px;
          margin-right: 8px;
          object-fit: cover; }
      .posts .card-container .post-container .post-route {
        text-decoration: none;
        width: 100%;
        display: flex;
        align-items: center; }
        .posts .card-container .post-container .post-route .post-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-grow: 1; }
          .posts .card-container .post-container .post-route .post-info .post-title {
            font-size: 12px;
            font-weight: 300;
            color: #fff; }
            .posts .card-container .post-container .post-route .post-info .post-title .post-domain {
              color: #bbb;
              font-weight: 200;
              font-size: 10px; }
          .posts .card-container .post-container .post-route .post-info .post-details {
            font-size: 10px;
            color: grey;
            padding: 3px 0; }
            .posts .card-container .post-container .post-route .post-info .post-details .post-subreddit {
              color: #4a90e2;
              white-space: nowrap; }
            .posts .card-container .post-container .post-route .post-info .post-details .post-author {
              white-space: nowrap; }
          .posts .card-container .post-container .post-route .post-info .post-data {
            font-size: 10px;
            color: grey; }
            .posts .card-container .post-container .post-route .post-info .post-data .post-score {
              font-weight: 600;
              color: #bbb; }
            .posts .card-container .post-container .post-route .post-info .post-data .post-age {
              white-space: nowrap; }
            .posts .card-container .post-container .post-route .post-info .post-data .post-comments {
              white-space: nowrap; }
              .posts .card-container .post-container .post-route .post-info .post-data .post-comments .post-comment-count {
                margin-right: 3px; }
      .posts .card-container .post-container .post-dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer; }
        .posts .card-container .post-container .post-dropdown:hover {
          background-color: #505050; }
    .posts .card-container .card-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 35px;
      background-color: #505050;
      border-radius: 0 0 3px 3px; }
      .posts .card-container .card-controls .card-left-controls {
        display: flex;
        align-items: center; }
        .posts .card-container .card-controls .card-left-controls .card-control-icon {
          padding-left: 10px;
          padding-right: 15px;
          text-decoration: none;
          color: white;
          font-size: 15px;
          cursor: pointer; }
          .posts .card-container .card-controls .card-left-controls .card-control-icon:first-child {
            padding-right: 10px; }
      .posts .card-container .card-controls .card-right-controls {
        display: flex;
        align-items: center;
        height: 100%; }
        .posts .card-container .card-controls .card-right-controls .card-control-icon {
          padding: 0 8px;
          cursor: pointer; }

.postdata-container {
  background-color: #444;
  box-shadow: 0px 0px 2px #111; }
  .postdata-container .postdata-link {
    text-decoration: none; }
    .postdata-container .postdata-link .postdata-image {
      width: 100%;
      max-height: 35vh;
      object-fit: cover; }
    .postdata-container .postdata-link .postdata-link-info-container {
      color: #fff;
      position: relative;
      height: 30px;
      bottom: 54px;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.4);
      margin-bottom: -54px; }
      .postdata-container .postdata-link .postdata-link-info-container .postdata-link-info {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
  .postdata-container .postdata-info-container {
    padding: 10px;
    color: grey; }
    .postdata-container .postdata-info-container .postdata-title {
      font-size: 16px;
      font-weight: 300;
      color: #fff;
      margin-bottom: 3px; }
    .postdata-container .postdata-info-container .postdata-body {
      color: white;
      padding: 10px 0;
      font-size: 12px; }
    .postdata-container .postdata-info-container .postdata-info {
      font-size: 10px;
      padding: 3px 0; }
      .postdata-container .postdata-info-container .postdata-info .postdata-subreddit {
        color: #4a90e2;
        white-space: nowrap; }
    .postdata-container .postdata-info-container .postdata-data {
      font-size: 10px; }
      .postdata-container .postdata-info-container .postdata-data .postdata-score {
        font-weight: 600;
        color: #bbb; }
  .postdata-container .postdata-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    border-top: 1px solid #333; }
    .postdata-container .postdata-controls .postdata-left-controls {
      display: flex;
      align-items: center; }
      .postdata-container .postdata-controls .postdata-left-controls .postdata-control-icon {
        padding-left: 10px;
        padding-right: 15px;
        font-size: 15px;
        text-decoration: none;
        color: white;
        cursor: pointer; }
        .postdata-container .postdata-controls .postdata-left-controls .postdata-control-icon:first-child {
          padding-right: 10px; }
    .postdata-container .postdata-controls .postdata-right-controls {
      display: flex;
      align-items: center;
      height: 100%; }
      .postdata-container .postdata-controls .postdata-right-controls .postdata-control-icon {
        padding: 0 8px;
        cursor: pointer; }

.comments-wrapper {
  margin-top: 10px;
  box-shadow: 0px 0px 2px #111; }

.comment-wrapper {
  background-color: #333; }
  .comment-wrapper .comment-container {
    display: flex;
    padding: 10px;
    background-color: #444;
    flex-grow: 1;
    margin-bottom: 1px; }
    .comment-wrapper .comment-container .comment-collapse {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: 600;
      color: #bbb;
      padding-left: 10px;
      padding-right: 5px; }
    .comment-wrapper .comment-container .comment-text {
      font-size: 12px;
      font-weight: 300;
      flex-grow: 1; }
      .comment-wrapper .comment-container .comment-text .comment-data {
        color: #bbb;
        margin-bottom: 3px; }
        .comment-wrapper .comment-container .comment-text .comment-data .comment-author {
          font-weight: 500; }
        .comment-wrapper .comment-container .comment-text .comment-data .comment-score {
          font-weight: 100;
          color: grey;
          padding: 0 5px; }
        .comment-wrapper .comment-container .comment-text .comment-data .comment-age {
          font-weight: 100;
          color: grey; }
      .comment-wrapper .comment-container .comment-text .comment-body {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word; }
  .comment-wrapper .comment-controls {
    display: flex;
    justify-content: space-between;
    height: 35px;
    background-color: #505050;
    margin-bottom: 1px; }
    .comment-wrapper .comment-controls .comment-left-controls {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .comment-wrapper .comment-controls .comment-left-controls .comment-control-icon {
        padding-left: 10px;
        padding-right: 15px;
        font-size: 15px;
        cursor: pointer; }
        .comment-wrapper .comment-controls .comment-left-controls .comment-control-icon:first-child {
          padding-right: 10px; }
    .comment-wrapper .comment-controls .comment-right-controls {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .comment-wrapper .comment-controls .comment-right-controls .comment-control-icon {
        padding: 0 8px;
        cursor: pointer; }

.new-post-container {
  position: fixed;
  bottom: 10px;
  right: 10px; }
  .new-post-container .new-post-icon {
    background-color: grey;
    padding-top: 13px;
    padding-bottom: 9px;
    padding-left: 14px;
    padding-right: 12px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #111;
    cursor: pointer; }
    .new-post-container .new-post-icon:hover {
      background-color: #bbb; }
  .new-post-container .new-comment-icon {
    background-color: grey;
    padding-top: 15px;
    padding-bottom: 9px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #111;
    cursor: pointer; }
    .new-post-container .new-comment-icon:hover {
      background-color: #bbb; }

.load-more {
  font-size: 10px;
  color: #4a90e2;
  margin-left: 5px;
  cursor: pointer; }

.submit-post-container {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  align-items: center; }
  .submit-post-container .submit-post-input {
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: #fff;
    background-color: #505050;
    border: 1px solid grey;
    width: 100%; }
    .submit-post-container .submit-post-input:focus {
      outline: 1px solid #fff; }
    .submit-post-container .submit-post-input::placeholder {
      color: #bbb; }
  .submit-post-container .submit-post-subreddit {
    margin-top: 10px;
    font-size: 14px; }
  .submit-post-container .submit-post-checkbox-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%; }
    .submit-post-container .submit-post-checkbox-list .submit-post-checkbox-container {
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
      .submit-post-container .submit-post-checkbox-list .submit-post-checkbox-container .submit-post-checkbox {
        margin-right: 10px;
        height: 20px;
        width: 20px;
        background-color: #505050;
        border: 1px solid grey; }
        .submit-post-container .submit-post-checkbox-list .submit-post-checkbox-container .submit-post-checkbox:hover {
          background-color: grey;
          border: 1px solid #fff;
          cursor: pointer; }
      .submit-post-container .submit-post-checkbox-list .submit-post-checkbox-container .submit-post-label {
        font-size: 14px;
        font-weight: 100; }
  .submit-post-container .submit-post-submit {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    color: #444;
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    font-weight: 500; }
    .submit-post-container .submit-post-submit:hover {
      background-color: #06d6a0;
      color: #fff;
      cursor: pointer; }

.newpost-drawer-wrapper {
  z-index: 3;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }
  .newpost-drawer-wrapper .newpost-drawer-container {
    margin-right: 18px;
    margin-bottom: 80px;
    height: fit-content; }
    .newpost-drawer-wrapper .newpost-drawer-container .newpost-drawer-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      background-color: grey;
      box-shadow: 0px 0px 2px #111;
      height: 35px;
      margin-top: 20px;
      border-radius: 50%; }
      .newpost-drawer-wrapper .newpost-drawer-container .newpost-drawer-item:hover {
        background-color: #bbb; }

.drawer-wrapper {
  z-index: 3;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 3px;
  right: 3px;
  display: flex;
  justify-content: flex-end; }
  .drawer-wrapper .drawer-container {
    background-color: #444;
    box-shadow: 0px 0px 2px #111;
    width: 180px;
    height: fit-content; }
    .drawer-wrapper .drawer-container .drawer-title {
      padding: 10px 15px;
      width: 150px;
      font-size: 14px;
      font-weight: 500;
      border-bottom: 1px solid #333;
      text-transform: capitalize; }
    .drawer-wrapper .drawer-container .drawer-item {
      padding: 10px 15px;
      display: flex;
      width: 150px;
      justify-content: space-between;
      font-size: 14px;
      font-weight: 300;
      cursor: pointer; }

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }
  .loader-wrapper .loader-svg {
    width: 100%;
    height: 6px; }

.refresh-message {
  text-align: center;
  margin-top: 20px;
  opacity: 0.4;
  font-size: 14px; }

/*# sourceMappingURL=App.css.map */
