// COLOR  VARIABLES
$grey0: #111;
$grey1: #333;
$grey2: #444;
$grey3: #bbb;
$grey4: rgb(80, 80, 80);
$grey5: grey;
$white: #fff;
$blue1: #4a90e2;
$up: #06d6a0;
$down: #ff445b;

// SHADOW
$shadow: 0px 0px 2px $grey0;

// FONT-SIZES
$fsize1: 10px;

// BASE APP STYLING
html {
  background-color: $grey1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-background {
  color: $white;
}

// NAVIGATION STYLING
.nav-background {
  background-color: $grey2;
  box-shadow: $shadow;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  position: sticky;
  top: 0;
  z-index: 1;

  .nav-left {
    display: flex;
    width: 60%;
    justify-content: flex-start;

    .nav-left-icon {
      margin-right: 15px;
      cursor: pointer;
    }

    .nav-page-container {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      align-items: center;
      max-width: 250px;
      text-decoration: none;
      color: white;

      .nav-title {
        display: flex;
        flex-direction: column;

        .nav-page-name {
          font-size: 14px;
          font-weight: 500;
        }

        .nav-page-subtitle {
          margin-top: 3px;
          font-size: $fsize1;
          font-weight: 100;
          color: $grey3;
          text-transform: uppercase;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .nav-left-icon {
      margin-left: 15px;
      cursor: pointer;
    }
  }
}

// MENU STYLING
.menu-container {
  display: flex;
  flex-direction: column;
  background-color: $grey2;
  height: fit-content;
  width: 250px;
  font-size: 12px;

  .menu-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 15px 15px;
    background-color: $grey1;

    .menu-logo {
      font-size: 25px;

      .logo-up {
        color: $up;
        transform: rotate(0.5turn);
        display: inline-block;
        margin-left: 2px;
      }
      .logo-down {
        color: $down;
      }
    }

    .menu-pin {
      font-size: 20px;
    }
  }
  .menu-account-container {
    background-color: $grey2;
    border-bottom: 1px solid $grey1;
    padding: 15px;
    display: flex;
    justify-content: space-between;

    .menu-add-account {
      outline: 0;
      color: $up;
      background-color: transparent;
      border: none;
      padding: 0;
    }
    .menu-remove-account {
      outline: 0;
      color: $down;
      background-color: transparent;
      border: none;
      padding: 0;
    }
  }
  .menu-submenu-list {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $grey1;

    .menu-submenu-item {
      display: flex;
      flex-direction: column;

      .menu-submenu-top {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        &:hover {
          background-color: $grey4;
        }

        .menu-submenu-title {
          display: flex;
          align-items: center;
          flex-grow: 1;
          text-decoration: none;
          color: $white;

          .menu-submenu-icon {
            margin-right: 10px;
          }
        }
      }

      .menu-submenu-bottom {
        background-color: $grey1;

        .menu-submenu-bottom-link {
          text-decoration: none;
          color: $white;

          .menu-submenu-bottom-item {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 45px;
            padding-right: 15px;

            &:hover {
              background-color: $grey4;
            }
          }
        }
      }
    }
  }
  .menu-subreddit-container {
    display: flex;
    flex-direction: column;
    .menu-subreddit-search-form {
      width: 100%;
      .menu-subreddit-search {
        background-color: transparent;
        color: white;
        font-size: 12px;
        box-sizing: border-box;
        // display: block;
        width: 87%;
        outline: 0;
        border: none;
        padding: 5px 0;
        margin: 15px;
        border-bottom: 1px solid $grey3;

        &::placeholder {
          color: $grey3;
        }
      }
    }

    .menu-subreddit-list {
      display: flex;
      flex-direction: column;

      .menu-subreddit-link {
        color: white;
        text-decoration: none;

        .menu-subreddit-title {
          padding: 10px 15px;

          &:hover {
            background-color: $grey4;
          }
        }

        .suggestion {
          font-style: italic;
          color: $grey3;
        }
      }
    }
  }
}

// POSTCARD STYLING
.posts {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;

  .card-container {
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: $shadow;
    background-color: $grey2;

    .post-container {
      min-height: 62px;
      padding: 8px;
      display: flex;

      .post-link {
        font-size: 0;

        .post-thumbnail {
          height: 62px;
          width: 62px;
          margin-right: 8px;
          object-fit: cover;
        }
      }
      .post-route {
        text-decoration: none;
        width: 100%;
        display: flex;
        align-items: center;

        .post-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-grow: 1;

          .post-title {
            font-size: 12px;
            font-weight: 300;
            color: $white;
            padding-right: 3px;

            .post-domain {
              color: $grey3;
              font-weight: 200;
              font-size: $fsize1;
            }
          }

          .post-comment-body {
            margin: 3px 0;
            color: white;
            font-size: 12px;
            font-weight: 100;
            padding-right: 3px;
          }

          .post-details {
            font-size: $fsize1;
            color: grey;
            padding: 3px 0;

            .post-subreddit {
              color: $blue1;
              white-space: nowrap;
            }

            .post-author {
              white-space: nowrap;
            }
          }
          .post-data {
            font-size: $fsize1;
            color: grey;

            .post-score {
              font-weight: 600;
              color: $grey3;
            }
            .post-age {
              white-space: nowrap;
            }
            .post-comments {
              white-space: nowrap;

              .post-comment-count {
                margin-right: 3px;
              }
            }
          }
        }
      }
      .post-dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
          background-color: $grey4;
        }
      }
    }

    .card-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 35px;
      background-color: $grey4;
      border-radius: 0 0 3px 3px;

      .card-left-controls {
        display: flex;
        align-items: center;

        .card-control-icon {
          padding-left: 10px;
          padding-right: 15px;
          text-decoration: none;
          color: white;
          font-size: 15px;
          cursor: pointer;

          &:first-child {
            padding-right: 10px;
          }
        }
      }
      .card-right-controls {
        display: flex;
        align-items: center;
        height: 100%;

        .card-control-icon {
          padding: 0 8px;
          cursor: pointer;
        }
      }
    }
  }
}

// MESSAGE CARD STYLING
.message-card-info {
  flex-grow: 1;
  font-size: 12px;
  color: $grey3;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 500px) {
    max-width: 93%;
  }
  @media screen and (max-width: 600px) {
    hyphens: auto;
  }

  .message-title {
    margin-bottom: 4px;

    .message-type {
      font-weight: 500;
    }

    .message-author {
      margin-left: 4px;

      .message-author-name {
        color: white;
        font-weight: 600;
      }
    }
    .message-age {
      margin-left: 4px;
    }
  }
  .message-post {
    margin-bottom: 2px;
    display: flex;
    overflow: hidden;

    .message-post-title {
      margin-left: 8px;
      .message-post-title-text {
        font-weight: 500;
        color: $white;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }

      .message-subreddit {
        display: flex;
        overflow: hidden;
        margin-top: 2px;

        .message-subreddit-name {
          color: $blue1;
          font-weight: 500;
          word-wrap: break-word;
          overflow-wrap: break-word;

          margin-left: 4px;
        }
      }
    }
  }
  .message-subject {
    margin-bottom: 2px;
    display: flex;
    overflow: hidden;

    .message-subject-title {
      color: $white;
      font-weight: 500;
      margin-left: 8px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      // hyphens: auto;
    }
  }

  .message-body {
    display: flex;
    overflow: hidden;

    .message-body-text {
      margin-left: 4px;
      color: $white;
      overflow: hidden;
      overflow-wrap: break-word;
      word-wrap: break-word;
    }
  }
}
.message-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $grey4;
  }
}

// POSTDATA STYLING
.postdata-container {
  background-color: $grey2;
  box-shadow: $shadow;

  .postdata-link {
    text-decoration: none;

    .postdata-image {
      width: 100%;
      max-height: 35vh;
      object-fit: cover;
    }

    .postdata-link-info-container {
      color: $white;
      position: relative;
      height: 30px;
      bottom: 54px;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.4);
      margin-bottom: -54px;

      .postdata-link-info {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .postdata-info-container {
    padding: 10px;
    color: grey;

    .postdata-title {
      font-size: 16px;
      font-weight: 300;
      color: $white;
      margin-bottom: 3px;
    }

    .postdata-body {
      color: white;
      padding: 10px 0;
      font-size: 12px;
    }

    .postdata-info {
      font-size: $fsize1;
      padding: 3px 0;

      .postdata-subreddit {
        color: $blue1;
        white-space: nowrap;
      }
    }
    .postdata-data {
      font-size: $fsize1;

      .postdata-score {
        font-weight: 600;
        color: $grey3;
      }
    }
  }
  .postdata-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    border-top: 1px solid $grey1;

    .postdata-left-controls {
      display: flex;
      align-items: center;

      .postdata-control-icon {
        padding-left: 10px;
        padding-right: 15px;
        font-size: 15px;
        text-decoration: none;
        color: white;
        cursor: pointer;

        &:first-child {
          padding-right: 10px;
        }
      }
    }

    .postdata-right-controls {
      display: flex;
      align-items: center;
      height: 100%;

      .postdata-control-icon {
        padding: 0 8px;
        cursor: pointer;
      }
    }
  }
}

// COMMENT STYLING
.comments-wrapper {
  margin-top: 10px;
  box-shadow: $shadow;
}

.comment-wrapper {
  background-color: $grey1;
  .comment-container {
    display: flex;
    padding: 10px;
    background-color: $grey2;
    flex-grow: 1;
    margin-bottom: 1px;

    .comment-collapse {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: 600;
      color: $grey3;
      // margin-right: -3px;
      // margin-left: 5px;
      padding-left: 10px;
      padding-right: 5px;
    }
    .comment-text {
      font-size: 12px;
      font-weight: 300;
      flex-grow: 1;
      .comment-data {
        color: $grey3;
        margin-bottom: 3px;
        .comment-author {
          font-weight: 500;
        }
        .comment-score {
          font-weight: 100;
          color: $grey5;
          padding: 0 5px;
        }
        .comment-age {
          font-weight: 100;
          color: $grey5;
        }
      }
      .comment-body {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
      }
    }
  }

  .comment-controls {
    display: flex;
    justify-content: space-between;
    height: 35px;
    background-color: $grey4;
    margin-bottom: 1px;

    .comment-left-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .comment-control-icon {
        padding-left: 10px;
        padding-right: 15px;
        font-size: 15px;
        cursor: pointer;

        &:first-child {
          padding-right: 10px;
        }
      }
    }
    .comment-right-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .comment-control-icon {
        padding: 0 8px;
        cursor: pointer;
      }
    }
  }
}

// NEW POST AND COMMENT BUTTON
.new-post-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  .new-post-icon {
    background-color: $grey5;
    padding-top: 13px;
    padding-bottom: 9px;
    padding-left: 14px;
    padding-right: 12px;
    border-radius: 50%;
    box-shadow: $shadow;
    cursor: pointer;

    &:hover {
      background-color: $grey3;
    }
  }
  .new-comment-icon {
    background-color: $grey5;
    padding-top: 15px;
    padding-bottom: 9px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 50%;
    box-shadow: $shadow;
    cursor: pointer;

    &:hover {
      background-color: $grey3;
    }
  }
}

// COMMENT LOAD MORE
.load-more {
  font-size: $fsize1;
  color: $blue1;
  margin-left: 5px;
  cursor: pointer;
}

// PROFILE PAGE
.profile-page {
  .profile-karma-container {
    display: flex;
    background-color: $grey2;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: $shadow;
  }
  .profile-karma {
    padding: 15px 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .karma-value {
      font-size: 24px;
      margin-bottom: 5px;
    }
    .karma-label {
      font-size: 10px;
      text-transform: uppercase;
      color: $grey3;
    }
  }
  .link-karma {
    border-right: 1px solid $grey1;
  }
}

// SUBMIT POST
.submit-post-container {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  align-items: center;

  .submit-post-input {
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: $white;
    background-color: $grey4;
    border: 1px solid $grey5;
    width: 100%;

    &:focus {
      outline: 1px solid $white;
    }

    &::placeholder {
      color: $grey3;
    }
  }

  .submit-post-text-area {
    resize: vertical;
    height: 38vh;
  }

  .submit-post-subreddit {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .submit-post-checkbox-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;

    .submit-post-checkbox-container {
      display: flex;
      align-items: center;
      // justify-content: center;
      margin-bottom: 10px;

      .submit-post-checkbox {
        margin-right: 10px;
        height: 20px;
        width: 20px;
        background-color: $grey4;
        border: 1px solid $grey5;

        &:hover {
          background-color: $grey5;
          border: 1px solid $white;
          cursor: pointer;
        }
      }
      .submit-post-label {
        font-size: 14px;
        font-weight: 100;
      }
    }
  }
  .submit-post-submit {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    background-color: $white;
    padding: 10px;
    color: $grey2;
    // border: 1px solid $grey5;
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    font-weight: 500;

    &:hover {
      // border: 1px solid $up;
      background-color: $up;
      color: $white;
      cursor: pointer;
      // outline: 1px solid $up;
    }
  }
}

// NEW POST DRAWER
.newpost-drawer-wrapper {
  z-index: 3;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  .newpost-drawer-container {
    margin-right: 18px;
    margin-bottom: 80px;
    height: fit-content;

    .newpost-drawer-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      background-color: $grey5;
      box-shadow: $shadow;
      height: 35px;
      margin-top: 20px;
      border-radius: 50%;

      &:hover {
        background-color: $grey3;
      }
    }
  }
}

// TOPRIGHT DRAWER
.drawer-wrapper {
  z-index: 3;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 3px;
  right: 3px;
  display: flex;
  justify-content: flex-end;

  .drawer-container {
    background-color: $grey2;
    box-shadow: $shadow;
    width: 180px;
    height: fit-content;

    .drawer-title {
      padding: 10px 15px;
      width: 150px;
      font-size: 14px;
      font-weight: 500;
      border-bottom: 1px solid $grey1;
      text-transform: capitalize;
    }
    .drawer-item {
      padding: 10px 15px;
      display: flex;
      width: 150px;
      justify-content: space-between;
      font-size: 14px;
      font-weight: 300;
      cursor: pointer;
    }
  }
}

// LOADING SVG
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .loader-svg {
    width: 100%;
    height: 6px;
  }
}

// REFRESH MESSAGE
.refresh-message {
  text-align: center;
  margin-top: 20px;
  color: $grey5;
  font-size: 14px;
}

.end-message {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
  color: $grey5;
  font-size: 14px;
}
